

<% if ( success && success.length) { %>
<div class="row mt-3">
    <div class="col-11 col-md-5 mx-auto">
        <div class="alert bg-success-subtle text-success-emphasis border border-success-subtle d-flex align-items-center justify-content-between py-2.5 px-4 rounded-3 shadow-sm" role="alert">
            <div class="d-flex align-items-center me-3 fs-6">
                <i class="fa-solid fa-circle-check me-3 fs-5"></i>
                <span class="fw-bold"><%= success %></span>
            </div>
            <button type="button" class="btn-close m-0 p-0" data-bs-dismiss="alert" aria-label="Close" style="box-shadow: none; font-size: 0.8rem;"></button>
        </div>
    </div>
</div>
<% } %>

<% if ( error && error.length) { %>
<div class="row mt-3">
    <div class="col-11 col-md-5 mx-auto">
        <div class="alert bg-danger-subtle text-danger-emphasis border border-danger-subtle d-flex align-items-center justify-content-between py-2.5 px-4 rounded-3 shadow-sm" role="alert">
            <div class="d-flex align-items-center me-3 fs-6">
                <i class="fa-solid fa-circle-exclamation me-3 fs-5"></i>
                <span class="fw-bold"><%= error %></span>
            </div>
            <button type="button" class="btn-close m-0 p-0" data-bs-dismiss="alert" aria-label="Close" style="box-shadow: none; font-size: 0.8rem;"></button>
        </div>
    </div>
</div>
<% } %>

